$primary-color: #FFFFFF;
$secondary-color: #3D3B3A;
$hover-color: #ffffff;
$text-color: #adb5bd;
$small-text-color: #6c757d;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: $primary-color;
  color: $secondary-color;

  &__logoContainer{
    // min-width: 400px;
    flex: 1; /* Ensures equal width */
    display: flex;

  }
  &__socials {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    cursor: pointer;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Ensures equal width */
    padding: 60px 0px;
    text-align: center; /* Centers text horizontally */
  }

  &__connected {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
  }

  &__copyright {
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    font-weight: 300;
    font-size: 12px;

  }

  &__redirectlinks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: end;
    flex: 1; /* Ensures equal width */
    text-align: right; /* Aligns text to the right */

    a {
      text-decoration: none;
      color: $secondary-color;
      font-size: 12px;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      transition: color 0.3s ease-in-out;

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }


  &__nav {
    display: flex;
    gap: 1.5rem;

    &-item {
      text-decoration: none;
      color: $text-color;
      font-size: 1rem;
      transition: color 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $hover-color;
        outline: none; // Improved accessibility
      }
    }
  }

  &__copy {
    font-size: 0.875rem;
    color: $small-text-color;
    margin-top: 1rem;
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;

    &__logo,
    &__container,
    &__redirectlinks {
      width: 100%; /* Full width on smaller screens */
      margin-bottom: 1rem;
      text-align: center;
    }

    &__nav {
      flex-direction: column;
      gap: 1rem;
    }

    &__copy {
      margin-top: 1.5rem;
    }
    &__socials {
      min-width: 300px;
    }
  }
}
