.mission {
    color: #ffffff;
    padding: 6rem;
    text-align: center;
    background: linear-gradient(180deg, #0D0920 25.5%, #362686 100%);

  
    div {
      margin-bottom: 1rem;
      font-size: 16px;
      font-weight: 500;
      font-family: 'Montserrat', sans-serif;
    }
  
    p {
        font-size: 12px;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;
        max-width: 630px;
    }
  }
  